.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.image {
  width: 500px; /* 이미지 크기 */
  height: 300px; /* 이미지 크기 */
  object-fit: cover; /* 이미지 비율을 유지하면서 크기 맞추기 */
}

.button {
  position: absolute; /* 버튼을 이미지 위에 절대 위치로 배치 */
  top: 50%; /* 이미지의 세로 가운데에 배치 */
  left: 50%; /* 이미지의 가로 가운데에 배치 */
  transform: translate(-50%, 350%); /* 정확히 중앙에 위치시키기 위해 */
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* 버튼에 호버 효과 */
}

.counter-text {
  position: absolute;         
  top: 50%;                   
  left: 50%;                  
  transform: translate(-50%, 50%); 
  text-align: center;
  font-size: 24px;
  /* font-family: 'Batang', serif; */
  color: black;

  }


  .page2-text {
    position: absolute;         
    text-align: center;
    font-size: 12px;
    /* font-family: 'Batang', serif; */
    color: black;
  
    }